body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
word-break: break-all;
}


body{
    background-color: #484195;
}

    .container{
        display: inline-block;
        width: 800px;
        margin-top: 100px;
        margin-left: calc( (100% - 800px) / 2);
    }

        .left-column{
            display: inline-block;
            float: left;
            width: 40%;
            background-color: red;

        }

        .right-column{
            display: inline-block;
            float: left;
            width: 60%;
            background-color: seagreen;

        }