body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
word-break: break-all;
}


body{
    background-color: #484195;
}

    .container {
        display: inline-block;
        width: 800px;
        margin-top: 100px;
        margin-left: calc( (100% - 800px) / 2);
    }

        .left-column {
            display: inline-block;
            float: left;
            width: 40%;
            padding: 40px;
            background-color: red;
            background-image: url(./Mountain.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            color: #FFFFFF;
            height: 440px;
            margin-top: 30px;
            position: relative;
        }
        .title {

        }
        .footer {
            margin-top: 300px;
            position: absolute;
            left: 40px;
            bottom: 20px;

        }
            .link {
                color: #FFFFFF;

            }
            .amp {
                
            }
        .right-column {
            display: inline-block;
            float: left;
            width: 60%;
            padding: 60px;
            background-color: #FFFFFF;
            position: relative;
        }
            .close {
                display: inline-block;
                width: 60px;
                height: 60px;
                background-color: red;
                text-align: center;
                font-size: 20px;
                line-height: 56px;
                cursor: pointer;
                /* float: right;
                margin-top: -60px;
                margin-right: -60px; */
                position: absolute;
                top: 0;
                right: 0;
            }
            .form {
                display: inline-block;
                width: 100%;
            }
                .form-row {
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 30px;
                }
                .form-row:last-of-type {
                    margin-bottom: 0;
                }
                label {
                    display: inline-block;
                    width: 100%;
                    margin-bottom: px;
                    color: #777777;
                    text-transform: uppercase;
                    font-size: 16px;
                }
                input {
                    display: inline-block;
                    width: 100%;
                    font-size: 20px;
                    border-left: none;
                    border-top: none;
                    border-right: none;
                    border-bottom-color: grey;
                    /* border: none;
                    border-bottom: 1px solid; */
                }
                .btn {
                    display: inline-block;
                    background-color: #144DD9;
                    color: #FFFFFF;
                    padding: 10px;
                    padding-left: 50px;
                    padding-right: 50px;
                    line-height: 20px;
                    border-radius: 20px;
                }
                .or {
                    display: inline-block;
                    line-height: 20px;
                    padding-top: 10px;
                    padding-left: 30px;
                    padding-right: 30px;
                }
                .blue-link {
                    display: inline-block;
                    line-height: 20px;
                    padding-top: 10px;
                }
